<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WCSST 25</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{$static_server}files/ugc/css/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="{$static_server}files/ugc/css/jquery.jcarousel.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="{$static_server}files/ugc/images/favicon.ico" />
<script type="text/javascript" src="{$static_server}files/ugc/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{$static_server}files/ugc/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{$static_server}files/ugc/js/func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="{$static_server}files/ugc/css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="wrapper">
  <div id="header">
    <div class="shell">
      <h1 id="logo" class="left"><a href="#">WCSST 25<span>free website template</span></a></h1>
      <div class="socials right">
        <ul>
          <li><a href="#"><img src="{$static_server}files/ugc/images/soc-twit.gif" alt="" /></a></li>
          <li><a href="#"><img src="{$static_server}files/ugc/images/soc-in.gif" alt="" /></a></li>
          <li><a href="#"><img src="{$static_server}files/ugc/images/soc-fb.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="{$static_server}files/ugc/images/soc-fr.gif" alt="" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-holder">
    <div class="shell">
      <div id="navigation" class="left">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="search right">
        <form action="#" method="post">
          <input type="text" class="field blink left" value="Search here ..." />
          <input type="submit" class="button notext left" value="Submit" />
        </form>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
</div>
 