<div id="head">
    <div class="slider-holder">
      <div class="shell">
        <div class="nav">
          <ul>
            <li><a href="#" rel="1">&nbsp;</a></li>
            <li><a href="#" rel="2">&nbsp;</a></li>
            <li><a href="#" rel="3">&nbsp;</a></li>
            <li class="last"><a href="#" rel="4">&nbsp;</a></li>
          </ul>
          <div class="cl">&nbsp;</div>
        </div>
        <div class="slider">
          <ul>
            <li>
              <div class="item">
                <div class="image left"> <img src="{$static_server}files/ugc/images/slide-img.jpg" alt="" /> </div>
                <div class="info right">
                  <h2>Business Revolution</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <strong>ornare</strong> consequat tortor quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur <a href="#">adipiscing</a> elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <p>sit amet, <strong>consectetur</strong> adipiscing elit. Consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <a href="#" class="btn-more">Read More</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="image left"> <img src="{$static_server}files/ugc/images/slide-img.jpg" alt="" /> </div>
                <div class="info right">
                  <h2>Business Revolution</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <strong>ornare</strong> consequat tortor quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur <a href="#">adipiscing</a> elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <p>sit amet, <strong>consectetur</strong> adipiscing elit. Consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <a href="#" class="btn-more">Read More</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="image left"> <img src="{$static_server}files/ugc/images/slide-img.jpg" alt="" /> </div>
                <div class="info right">
                  <h2>Business Revolution</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <strong>ornare</strong> consequat tortor quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur <a href="#">adipiscing</a> elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <p>sit amet, <strong>consectetur</strong> adipiscing elit. Consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <a href="#" class="btn-more">Read More</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="image left"> <img src="{$static_server}files/ugc/images/slide-img.jpg" alt="" /> </div>
                <div class="info right">
                  <h2>Business Revolution</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <strong>ornare</strong> consequat tortor quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur <a href="#">adipiscing</a> elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <p>sit amet, <strong>consectetur</strong> adipiscing elit. Consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis</p>
                  <a href="#" class="btn-more">Read More</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>